Repository laurent22/joplin, pull requests merged in 2018-11, with the labels that each got.

#930 mobile: add version info
  ReactNativeClient/android/app/build.gradle
  ReactNativeClient/android/app/src/main/java/net/cozic/joplin/MainApplication.java
  ReactNativeClient/android/settings.gradle
  ReactNativeClient/ios/Joplin.xcodeproj/project.pbxproj
  ReactNativeClient/lib/components/screens/config.js
  ReactNativeClient/package-lock.json
  ReactNativeClient/package.json
Labels: mobile

#936 Minor fix for translation of 'Location'
  CliClient/locales/de_DE.po
Labels: translation

#893 Adds functionality to display tags under the open note.
  ElectronClient/app/gui/MainScreen.jsx
  ElectronClient/app/gui/NoteText.jsx
  ElectronClient/app/gui/TagItem.jsx
  ElectronClient/app/gui/TagList.jsx
  ElectronClient/app/theme.js
  ReactNativeClient/lib/models/Tag.js
  ReactNativeClient/lib/reducer.js
Labels: desktop, electron

#921 Joplin desktop Dark Mode
  ElectronClient/app/gui/ClipperConfigScreen.jsx
  ElectronClient/app/gui/ConfigScreen.jsx
  ElectronClient/app/gui/DropboxLoginScreen.jsx
  ElectronClient/app/gui/EncryptionConfigScreen.jsx
  ElectronClient/app/gui/Header.jsx
  ElectronClient/app/gui/IconButton.jsx
  ElectronClient/app/gui/MainScreen.jsx
  ElectronClient/app/gui/NoteText.jsx
  ElectronClient/app/gui/OneDriveLoginScreen.jsx
  ElectronClient/app/gui/PromptDialog.jsx
  ElectronClient/app/gui/StatusScreen.jsx
  ElectronClient/app/gui/dialogs.js
  ElectronClient/app/gui/note-viewer/index.html
  ElectronClient/app/gui/note-viewer/preload.js
  ElectronClient/app/style.css
  ElectronClient/app/theme.js
  ReactNativeClient/lib/MdToHtml.js
  ReactNativeClient/lib/models/Setting.js
Labels: desktop, electron

#925 Add support for custom css across all notes
  ElectronClient/app/app.js
  ElectronClient/app/gui/NoteText.jsx
  README.md
  ReactNativeClient/lib/reducer.js
Labels: desktop, electron
