Repository laurent22/joplin, pull requests merged in 2020-11, with the labels that each got.

#4022 Desktop: fix issues with shortcut editor
  packages/app-desktop/gui/KeymapConfig/styles/index.ts
  packages/lib/services/KeymapService.ts
Labels: desktop

#4023 Desktop: add {{bowm}} and {{bows}} - Beginning Of Week (Monday/Sunday)
  README.md
  packages/lib/TemplateUtils.js
Labels: desktop

#4046 Android: Make app movable to SD card again
  packages/app-mobile/android/app/src/main/AndroidManifest.xml
Labels: android

#4093 Desktop: Attempt to fix Outlook drag and drop #2
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/Editor.tsx
  packages/app-desktop/gui/NoteEditor/utils/useDropHandler.ts
Labels: desktop

#4117 Updating translation of "da_dk.po"
  packages/tools/locales/da_DK.po
Labels: translation

#4121 Update zh_CN translations
  packages/tools/locales/zh_CN.po
Labels: translation
