Repository laurent22/joplin, pull requests merged in 2022-11, with the labels that each got.

#6430 Desktop: Fixes #6416: Switching a note using Sidebar is slow and grayed out
  packages/app-desktop/gui/NoteEditor/NoteEditor.tsx
  packages/app-desktop/gui/NoteEditor/utils/useEffectiveNoteId.ts
Labels: desktop

#7316 Update de_DE.po
  packages/tools/locales/de_DE.po
Labels: translation

#7346 [Desktop, Linux] Fix AppImage icon when installing using Joplin_install_and_update.sh
  Joplin_install_and_update.sh
  packages/app-desktop/package.json
Labels: desktop, linux

#7381 Update de_DE.po
  packages/tools/locales/de_DE.po
Labels: translation
