Repository laurent22/joplin, pull requests merged in 2023-02, with the labels that each got.

#7546 desktop: Fixes #7521 Svg images are correctly sized when exported as png
  packages/app-desktop/gui/NoteEditor/utils/contextMenu.ts
  packages/app-desktop/gui/NoteEditor/utils/contextMenuUtils.ts
Labels: desktop

#7711 Desktop: Resolves #6143: Show installed plugins in Help - About Joplin
  .eslintignore
  .gitignore
  packages/app-cli/app/command-version.js
  packages/app-desktop/gui/ErrorBoundary.tsx
  packages/app-desktop/gui/MenuBar.tsx
  packages/lib/versionInfo.test.ts
  packages/lib/versionInfo.ts
Labels: desktop

#7592 Desktop: Fix highlighting in GotoAnything dialogue
  packages/lib/StringUtils.test.js
  packages/lib/string-utils.js
Labels: desktop

#7697 Desktop: fix regression: selected text deleted instead enclosed by backticks
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/CodeMirror.tsx
Labels: desktop, editor

#7701 Mobile: Fix #7700: Move padding from body to scrolling element on iOS
  packages/app-mobile/components/NoteBodyViewer/hooks/useSource.ts
Labels: iOS

#6722 CLI: Create Subnotebooks
  .eslintignore
  .gitignore
  packages/app-cli/app/base-command.js
  packages/app-cli/app/command-mkbook.js
  packages/app-cli/app/command-mkbook.test.ts
  packages/app-cli/app/command-mkbook.ts
Labels: cli
