Repository laurent22/joplin, pull requests merged in 2024-09, with the labels that each got.

#11018 Desktop: Accessibility: Fix multi-note selection menu not tab-focusable
  packages/app-desktop/gui/NoteEditor/NoteTitle/NoteTitleBar.tsx
  packages/app-desktop/gui/NoteList/utils/useOnKeyDown.ts
Labels: desktop, accessibility

#11030 Desktop: Accessibility: Improve text read by screen readers when focusing the note viewer
  packages/app-desktop/gui/note-viewer/index.html
Labels: desktop, accessibility

#11031 Mobile: Fixes #10253: Move accessibility focus to the first note action menu item on open
  .eslintignore
  .gitignore
  packages/app-mobile/components/ScreenHeader/Menu.tsx
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/accessibility/AccessibleView.tsx
Labels: mobile, accessibility

#11029 Desktop: Fix editor/viewer loses focus when visible panels are changed with ctrl-l
  .eslintignore
  .gitignore
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/CodeMirror.tsx
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/utils/useRefocusOnVisiblePaneChange.ts
  packages/app-desktop/gui/NoteTextViewer.tsx
  packages/app-desktop/integration-tests/main.spec.ts
  packages/app-desktop/integration-tests/markdownEditor.spec.ts
  packages/app-desktop/integration-tests/models/NoteEditorScreen.ts
  packages/app-desktop/integration-tests/noteList.spec.ts
  packages/app-desktop/integration-tests/richTextEditor.spec.ts
Labels: desktop, accessibility

#11034 Desktop, Mobile: Upgrade CodeMirror packages
  packages/editor/package.json
  yarn.lock
Labels: editor

#11039 Desktop: Accessibility: Add "Move to" context menu action for notebooks
  packages/app-desktop/gui/MainScreen/commands/moveToFolder.ts
  packages/app-desktop/gui/Sidebar/hooks/useOnRenderItem.tsx
Labels: desktop, accessibility

#11056 Mobile: Fixes #11028: Accessibility: Fix sidebar broken in right-to-left mode, improve screen reader accessibility
  .eslintignore
  .gitignore
  packages/app-mobile/components/SideMenu.ts
  packages/app-mobile/components/SideMenu.tsx
  packages/app-mobile/components/side-menu-content.tsx
  packages/app-mobile/package.json
  packages/app-mobile/root.tsx
  packages/app-mobile/utils/appDefaultState.ts
  packages/app-mobile/utils/hooks/useReduceMotionEnabled.ts
  packages/app-mobile/utils/types.ts
  yarn.lock
Labels: mobile, accessibility

#11067 Desktop,Mobile: Fixes #11065: Improve performance when there are many selected items
  .eslintignore
  .gitignore
  packages/app-desktop/gui/utils/NoteListUtils.ts
  packages/lib/BaseModel.test.ts
  packages/lib/BaseModel.ts
  packages/lib/services/commands/stateToWhenClauseContext.ts
Labels: performance

#11094 Chore: Mobile: Migrate `NoteItem` and `Checkbox` to TypeScript
  .eslintignore
  .gitignore
  packages/app-mobile/components/Checkbox.tsx
  packages/app-mobile/components/NoteItem.tsx
  packages/app-mobile/components/NoteList.tsx
  packages/app-mobile/components/checkbox.js
  packages/app-mobile/components/screens/Note.tsx
  packages/app-mobile/components/screens/search.tsx
Labels: mobile

#11093 Chore: Mobile: Improve `Notes` screen type safety
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/app-nav.tsx
  packages/app-mobile/components/screens/Notes.tsx
  packages/lib/models/Note.ts
Labels: mobile

#11092 Desktop: Fix ctrl/cmd-n can create new notes while the trash folder is selected
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/utils/useKeymap.ts
Labels: bug, desktop

#11091 Mobile: Scroll dropdown to selected value when first opened
  packages/app-mobile/components/Dropdown.tsx
Labels: mobile

#11090 Mobile: Use fade animation for edit link dialog
  packages/app-mobile/components/NoteEditor/EditLinkDialog.tsx
Labels: mobile

#11088 Doc: Add Backblaze to S3 Providers
  packages/tools/cspell/dictionary4.txt
  readme/apps/sync/s3.md
Labels: documentation

#11086 Mobile: Resolves #11082: Make pressing "back" navigate to the previous note after following a link
  packages/app-mobile/root.tsx
Labels: mobile

#11085 Desktop: New Markdown editor: Fix horizontal rule button when cursor is not on a new line
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/useEditorCommands.ts
  packages/editor/CodeMirror/editorCommands/editorCommands.ts
  packages/editor/CodeMirror/markdown/markdownCommands.test.ts
  packages/editor/CodeMirror/markdown/markdownCommands.ts
  packages/editor/CodeMirror/testUtil/createTestEditor.ts
  packages/editor/types.ts
Labels: desktop, editor

#11035 Desktop,Mobile,Cli: Fixes #11017: Delete revisions on the sync target when deleted locally
  packages/lib/models/Revision.ts
  packages/lib/services/RevisionService.test.ts
  packages/lib/services/synchronizer/Synchronizer.revisions.test.ts
Labels: sync

#11071 Android,Web: Fix scroll issues and incorrect main content height
  packages/app-mobile/components/SideMenu.tsx
Labels: bug, mobile

#11087 Chore: Migrate back-button.js to TypeScript
  .eslintignore
  .gitignore
  packages/app-mobile/components/BackButtonDialogBox.ts
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/screens/ConfigScreen/ConfigScreen.tsx
  packages/app-mobile/components/screens/Note.tsx
  packages/app-mobile/components/screens/Notes.tsx
  packages/app-mobile/root.tsx
  packages/app-mobile/services/BackButtonService.ts
  packages/app-mobile/services/back-button.js
Labels: mobile

#11076 Desktop,Mobile,Cli: Fixes #10608: WebDAV synchronisation not working because of URL encoding differences
  .eslintignore
  .gitignore
  packages/lib/file-api-driver-webdav.js
  packages/lib/file-api-driver-webdav.test.ts
Labels: bug, sync

#11074 Cli: Fixes #10992: Disable deprecation warning when running Joplin from CLI
  packages/app-cli/app/main.js
Labels: bug, cli

#11143 Desktop: Remove Math Mode from the list of plugins incompatible with the new editor
  packages/app-desktop/gui/NoteEditor/WarningBanner/WarningBanner.tsx
Labels: desktop, editor, plugins
