Repository laurent22/joplin, pull requests merged in 2024-06, with the labels that each got.

#10524 Mobile: Plugin API: Implement the `newNote` command
  .eslintignore
  .gitignore
  packages/app-mobile/commands/index.ts
  packages/app-mobile/commands/newNote.test.ts
  packages/app-mobile/commands/newNote.ts
Labels: mobile, plugins

#10471 Server: Fixes #10118: Missing record validation before trying to add item to user
  packages/server/src/models/UserItemModel.ts
  packages/server/src/models/UserItemModels.test.ts
Labels: bug, server

#10465 Mobile: Implement plugin screen redesign
  .eslintignore
  .gitignore
  packages/app-desktop/gui/ConfigScreen/controls/plugins/PluginBox.tsx
  packages/app-desktop/gui/ConfigScreen/controls/plugins/PluginsStates.tsx
  packages/app-mobile/components/DismissibleDialog.tsx
  packages/app-mobile/components/buttons/TextButton.tsx
  packages/app-mobile/components/buttons/index.tsx
  packages/app-mobile/components/screens/ConfigScreen/ConfigScreen.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/EnablePluginSupportPage.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/InstalledPluginBox.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginBox/PluginChips.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginBox/PluginInfoButton.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginBox/PluginTitle.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginBox/StyledChip.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginBox/index.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginInfoModal.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginStates.installed.test.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginStates.search.test.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginStates.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginToggle.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginUploadButton.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/SearchPlugins.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/buttons/ActionButton.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/buttons/InstallButton.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/testUtils/WrappedPluginStates.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/testUtils/mockRepositoryApiConstructor.ts
  packages/app-mobile/components/screens/ConfigScreen/plugins/utils/usePluginCallbacks.ts
  packages/app-mobile/components/screens/ConfigScreen/plugins/utils/usePluginItem.ts
  packages/app-mobile/components/screens/ConfigScreen/plugins/utils/useUpdateState.ts
  packages/app-mobile/components/screens/ConfigScreen/types.ts
  packages/app-mobile/plugins/PluginRunner/dialogs/PluginPanelViewer.tsx
  packages/app-mobile/plugins/hooks/usePlugin.ts
  packages/app-mobile/root.tsx
  packages/lib/components/shared/config/plugins/types.ts
  packages/lib/services/plugins/PluginService.ts
  packages/lib/services/style/themeToCss.test.ts
  packages/lib/themes/dark.ts
  packages/lib/themes/light.ts
  packages/lib/themes/type.ts
Labels: mobile, plugins

#10571 Desktop, Mobile: Hide links to login after process is successful
  packages/app-desktop/gui/JoplinCloudLoginScreen.tsx
  packages/app-mobile/components/screens/JoplinCloudLoginScreen.tsx
Labels: mobile, desktop

#10569 Desktop, Mobile: Add button on Synchronization to Joplin Cloud login screen
  packages/app-desktop/gui/ConfigScreen/ConfigScreen.tsx
  packages/app-mobile/components/screens/ConfigScreen/ConfigScreen.tsx
Labels: mobile, desktop

#10575 Desktop: Fixes error when Joplin Cloud login is finished before the settings are saved
  packages/lib/services/joplinCloudUtils.ts
Labels: bug, desktop

#9803 Mobile: Resolves #8639: implement callback url
  packages/app-mobile/android/app/src/main/AndroidManifest.xml
  packages/app-mobile/components/screens/Note.tsx
  packages/app-mobile/root.tsx
Labels: mobile, v3.0

#10603 Turkish Translations updated
  packages/tools/locales/tr_TR.po
Labels: translation

#10546 Desktop: Fixes: #10030: Prevent application from crashing when the syncInfoCache is corrupted
  packages/lib/services/synchronizer/syncInfoUtils.test.ts
  packages/lib/services/synchronizer/syncInfoUtils.ts
Labels: bug, desktop

#10588 Mobile: Fixes #10252 Not able to change notebook when using 'New Note' quick action
  packages/app-mobile/root.tsx
  packages/app-mobile/setupQuickActions.ts
Labels: bug

#10636 Chore: Refactor mobile plugin logic into locations more consistent with other parts of the app
  .eslintignore
  .gitignore
  packages/app-mobile/.gitignore
  packages/app-mobile/components/plugins/PluginRunner.ts
  packages/app-mobile/components/plugins/PluginRunnerWebView.tsx
  packages/app-mobile/components/plugins/backgroundPage/initializeDialogWebView.ts
  packages/app-mobile/components/plugins/backgroundPage/initializePluginBackgroundIframe.ts
  packages/app-mobile/components/plugins/backgroundPage/pluginRunnerBackgroundPage.ts
  packages/app-mobile/components/plugins/backgroundPage/startStopPlugin.ts
  packages/app-mobile/components/plugins/backgroundPage/utils/getFormData.test.ts
  packages/app-mobile/components/plugins/backgroundPage/utils/getFormData.ts
  packages/app-mobile/components/plugins/backgroundPage/utils/makeSandboxedIframe.ts
  packages/app-mobile/components/plugins/backgroundPage/utils/reportUnhandledErrors.ts
  packages/app-mobile/components/plugins/backgroundPage/utils/wrapConsoleLog.ts
  packages/app-mobile/components/plugins/dialogs/PluginDialogManager.tsx
  packages/app-mobile/components/plugins/dialogs/PluginDialogWebView.tsx
  packages/app-mobile/components/plugins/dialogs/PluginPanelViewer.tsx
  packages/app-mobile/components/plugins/dialogs/PluginUserWebView.tsx
  packages/app-mobile/components/plugins/dialogs/hooks/useDialogMessenger.ts
  packages/app-mobile/components/plugins/dialogs/hooks/useDialogSize.ts
  packages/app-mobile/components/plugins/dialogs/hooks/useViewInfos.ts
  packages/app-mobile/components/plugins/dialogs/hooks/useWebViewSetup.ts
  packages/app-mobile/components/plugins/types.ts
  packages/app-mobile/components/plugins/utils/createOnLogHandler.ts
  packages/app-mobile/components/screens/ConfigScreen/plugins/utils/usePluginItem.ts
  packages/app-mobile/root.tsx
  packages/app-mobile/services/plugins/PlatformImplementation.ts
  packages/app-mobile/tools/buildInjectedJs/gulpTasks.ts
  packages/lib/hooks/usePlugin.ts
  packages/lib/services/plugins/loadPlugins.test.ts
  packages/lib/services/plugins/loadPlugins.ts
  packages/lib/services/plugins/testing/MockPlatformImplementation.ts
  packages/lib/services/plugins/testing/MockPluginRunner.ts
  packages/lib/shim.ts
Labels: v3.1

#10605 Chore: Increase strength of `Setting`s types
  .eslintignore
  .gitignore
  packages/app-cli/app/command-settingschema.ts
  packages/app-desktop/gui/ConfigScreen/ConfigScreen.tsx
  packages/app-desktop/gui/MenuBar.tsx
  packages/app-desktop/services/sortOrder/notesSortOrderUtils.ts
  packages/app-desktop/utils/restartInSafeModeFromMain.ts
  packages/app-mobile/components/NoteEditor/NoteEditor.tsx
  packages/app-mobile/components/screens/ConfigScreen/ConfigScreen.tsx
  packages/app-mobile/components/screens/ConfigScreen/SettingComponent.tsx
  packages/app-mobile/root.tsx
  packages/generate-plugin-doc/package.json
  packages/lib/BaseApplication.ts
  packages/lib/models/Setting.test.ts
  packages/lib/models/Setting.ts
  packages/lib/models/settings/builtInMetadata.ts
  packages/lib/models/settings/types.ts
  packages/lib/reducer.ts
  packages/lib/registry.test.ts
  packages/lib/services/plugins/PluginService.ts
  packages/lib/testing/test-utils.ts
Labels: v3.1
