Repository laurent22/joplin, pull requests merged in 2024-11, with the labels that each got.

#10907 Desktop,CLI: Fixes #10653: Change Resource filetype detecting strategy
  .eslintignore
  .gitignore
  packages/app-cli/app/command-e2ee.ts
  packages/app-cli/package.json
  packages/app-cli/tests/support/valid_pdf_without_ext
  packages/lib/package.json
  packages/lib/shim-init-node.test.ts
  packages/lib/shim-init-node.ts
  yarn.lock
Labels: bug, desktop

#11323 Mobile: Fixes #11276: Fix new note button is pushed offscreen on certain Android devices
  packages/app-mobile/components/buttons/FloatingActionButton.tsx
Labels: android

#11358 Mobile: Accessibility: Improve setting control accessibility
  packages/app-mobile/components/Dropdown.tsx
  packages/app-mobile/components/screens/ConfigScreen/SettingComponent.tsx
  packages/app-mobile/components/screens/ConfigScreen/SettingsToggle.tsx
Labels: android, accessibility

#11246 Desktop: Fix errors found by automated accessibility testing
  .eslintignore
  .gitignore
  packages/app-desktop/gui/Button/Button.tsx
  packages/app-desktop/gui/ConfigScreen/ConfigScreen.tsx
  packages/app-desktop/gui/ConfigScreen/Sidebar.tsx
  packages/app-desktop/gui/ConfigScreen/controls/SettingDescription.tsx
  packages/app-desktop/gui/ConfigScreen/styles/setting-description.scss
  packages/app-desktop/gui/FolderIconBox.tsx
  packages/app-desktop/gui/ItemList.tsx
  packages/app-desktop/gui/MainScreen.tsx
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/CodeMirror.tsx
  packages/app-desktop/gui/NoteEditor/NoteTitle/NoteTitleBar.tsx
  packages/app-desktop/gui/NoteList/NoteList2.tsx
  packages/app-desktop/gui/NoteListWrapper/NoteListWrapper.tsx
  packages/app-desktop/gui/NoteTextViewer.tsx
  packages/app-desktop/gui/Sidebar/Sidebar.tsx
  packages/app-desktop/gui/Sidebar/hooks/useOnRenderListWrapper.tsx
  packages/app-desktop/gui/Sidebar/listItemComponents/AllNotesItem.tsx
  packages/app-desktop/gui/Sidebar/listItemComponents/HeaderItem.tsx
  packages/app-desktop/gui/ToolbarButton/ToolbarButton.tsx
  packages/app-desktop/gui/styles/index.scss
  packages/app-desktop/gui/styles/note-editor-wrapper.scss
  packages/app-desktop/integration-tests/models/Sidebar.ts
  packages/app-desktop/integration-tests/util/setDarkMode.ts
  packages/app-desktop/integration-tests/util/test.ts
  packages/app-desktop/integration-tests/wcag.spec.ts
  packages/app-desktop/package.json
  packages/app-mobile/components/NoteEditor/NoteEditor.tsx
  packages/editor/CodeMirror/configFromSettings.ts
  packages/editor/CodeMirror/testUtil/createEditorSettings.ts
  packages/editor/types.ts
  packages/lib/themes/light.ts
  packages/tools/cspell/dictionary4.txt
  yarn.lock
Labels: desktop, accessibility

#11351 Desktop: Fixes #11335: Markdown editor: Auto-close backticks
  packages/editor/CodeMirror/configFromSettings.ts
Labels: desktop, editor

#11355 Android: Fixes #11324: Fix sharing to Joplin causes back navigation to get stuck
  packages/app-mobile/components/screens/Note.tsx
  packages/app-mobile/package.json
  packages/app-mobile/root.tsx
  packages/app-mobile/utils/shareHandler.ts
  yarn.lock
Labels: android

#11334 Mobile: Fixes #11317: Fix race condition which may cause data loss, particularly before or after pasting text in the note editor
  packages/app-mobile/components/screens/Note.tsx
  packages/lib/components/shared/note-screen-shared.ts
Labels: mobile, editor

#11395 Mobile: Accessibility: Improve dialog accessibility
  .eslintignore
  .gitignore
  packages/app-mobile/commands/openItem.ts
  packages/app-mobile/components/BackButtonDialogBox.ts
  packages/app-mobile/components/DialogManager.tsx
  packages/app-mobile/components/DialogManager/PromptDialog.tsx
  packages/app-mobile/components/DialogManager/hooks/useDialogControl.ts
  packages/app-mobile/components/DialogManager/index.tsx
  packages/app-mobile/components/DialogManager/types.ts
  packages/app-mobile/components/Modal.tsx
  packages/app-mobile/components/NoteBodyViewer/NoteBodyViewer.tsx
  packages/app-mobile/components/NoteBodyViewer/hooks/useOnResourceLongPress.ts
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/screens/LogScreen.tsx
  packages/app-mobile/components/screens/Note.tsx
  packages/app-mobile/components/screens/Notes.tsx
  packages/app-mobile/components/screens/dropbox-login.tsx
  packages/app-mobile/components/screens/encryption-config.tsx
  packages/app-mobile/components/screens/folder.js
  packages/app-mobile/package.json
  packages/app-mobile/root.tsx
  packages/app-mobile/utils/dialogs.js
  packages/app-mobile/utils/makeShowMessageBox.ts
  packages/lib/commands/permanentlyDeleteNote.ts
  packages/lib/shim.ts
  yarn.lock
Labels: mobile, accessibility

#11419 Mobile: Accessibility: Improve note list accessibility
  packages/app-mobile/components/Checkbox.tsx
  packages/app-mobile/components/NoteItem.tsx
Labels: mobile, accessibility

#11421 Mobile: Accessibility: Improve tag dialog screen reader accessibility
  packages/app-mobile/components/screens/NoteTagsDialog.tsx
Labels: accessibility

#11420 Mobile: Accessibility: Improve screen reader accessibility of the tag list
  .eslintignore
  .gitignore
  packages/app-mobile/components/screens/tags.js
  packages/app-mobile/components/screens/tags.tsx
  packages/app-mobile/root.tsx
Labels: accessibility

#11411 Mobile: Accessibility: Add checked/unchecked accessibility information to the "sort notes by" dialog
  .eslintignore
  .gitignore
  packages/app-mobile/components/DialogManager/PromptButton.tsx
  packages/app-mobile/components/DialogManager/PromptDialog.tsx
  packages/app-mobile/components/DialogManager/hooks/useDialogControl.ts
  packages/app-mobile/components/DialogManager/types.ts
  packages/app-mobile/components/global-style.ts
  packages/app-mobile/components/screens/Notes.tsx
  packages/app-mobile/package.json
  packages/app-mobile/utils/makeShowMessageBox.ts
  yarn.lock
Labels: mobile, accessibility

#11424 Mobile: Accessibility: Improve note selection screen reader accessibility
  .eslintignore
  .gitignore
  packages/app-mobile/components/NoteItem.tsx
  packages/app-mobile/utils/hooks/useOnLongPressProps.ts
Labels: mobile, accessibility

#11427 Mobile: Accessibility: Improve side menu and heading screen reader accessibility
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/side-menu-content.tsx
Labels: mobile, accessibility

#11429 Mobile: Accessibility: Fix screen reader is unable to scroll settings tab list
  packages/app-mobile/components/screens/ConfigScreen/SectionSelector/index.tsx
Labels: mobile, accessibility

#11430 Mobile: Accessibility: Describe the notebook dropdown for accessibility tools
  packages/app-mobile/components/FolderPicker.tsx
Labels: mobile, accessibility

#11431 Mobile: Accessibility: Search screen: Hide the progress bar from accessibility tools when invisible
  packages/app-mobile/components/screens/SearchScreen/SearchResults.tsx
Labels: mobile, accessibility

#11432 Mobile: Accessibility: Mark note properties buttons as buttons
  packages/app-mobile/components/SideMenuContentNote.tsx
Labels: mobile, accessibility

#11433 ALL: Added Slovak translation
  packages/tools/locales/sk_SK.po
Labels: translation

#11410 Desktop: Fixes #11408: Correct file path of OneNote converter on release build
  packages/lib/services/interop/InteropService_Importer_OneNote.ts
  packages/onenote-converter/package.json
Labels: bug, desktop

#11448 Desktop: Fixes: Display fallback icons on a reasonable size on HTML notes
  packages/renderer/noteStyle.ts
Labels: bug

#11447 Desktop: Accessibility: Prevent overwrite mode toggle shortcut from conflicting with screen reader shortcuts
  .eslintignore
  .gitignore
  packages/editor/CodeMirror/utils/keyUpHandlerExtension.ts
  packages/editor/CodeMirror/utils/overwriteModeExtension.test.ts
  packages/editor/CodeMirror/utils/overwriteModeExtension.ts
Labels: desktop, accessibility

#11446 Desktop: Fixes #11443: Accessibility: Do not override focus order when pressing tab/shift-tab on the note list
  packages/app-desktop/gui/NoteEditor/NoteTitle/NoteTitleBar.tsx
  packages/app-desktop/gui/NoteList/utils/useOnKeyDown.ts
  packages/app-desktop/gui/Sidebar/hooks/useOnSidebarKeyDownHandler.ts
Labels: desktop, accessibility
