Repository laurent22/joplin, pull requests merged in 2025-01, with the labels that each got.

#11555 iOS: Fixes #11544: Fix blank screen on bringing app from background
  packages/app-mobile/components/ExtendedWebView/index.tsx
Labels: iOS

#11556 Mobile: Accessibility: Improve sidemenu notebook list accessibility
  packages/app-mobile/components/Icon.tsx
  packages/app-mobile/components/side-menu-content.tsx
Labels: accessibility

#11593 All: New strings translated to Slovak
  packages/tools/locales/sk_SK.po
Labels: translation

#11620 CLI: Fixes #11577: Revert deprecation warning suppression
  packages/app-cli/app/main.js
Labels: bug

#11619 Mobile: Fixes #11455: Clicking on an external note link from within a note logs an error
  packages/app-mobile/commands/openItem.ts
Labels: mobile

#11545 Web: Add support for auto-reloading dev plugins on change
  .eslintignore
  .gitignore
  packages/app-mobile/components/plugins/PluginRunnerWebView.tsx
  packages/app-mobile/components/plugins/utils/useOnDevPluginsUpdated.ts
  packages/app-mobile/components/screens/ConfigScreen/ConfigScreen.tsx
  packages/app-mobile/components/screens/ConfigScreen/FileSystemPathSelector.tsx
  packages/app-mobile/components/screens/ConfigScreen/SettingComponent.tsx
  packages/app-mobile/components/screens/ConfigScreen/SettingsToggle.tsx
  packages/app-mobile/components/screens/ConfigScreen/configScreenStyles.ts
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginBox/PluginChips.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginInfoModal.tsx
  packages/app-mobile/components/screens/ConfigScreen/plugins/PluginUploadButton.tsx
  packages/app-mobile/components/screens/ConfigScreen/types.ts
  packages/lib/models/settings/builtInMetadata.ts
  packages/lib/services/CommandService.ts
  packages/lib/services/commands/ToolbarButtonUtils.ts
  packages/lib/services/plugins/api/JoplinCommands.ts
  packages/lib/services/plugins/loadPlugins.ts
  packages/lib/services/plugins/reducer.ts
  readme/api/references/mobile_plugin_debugging.md
Labels: plugins, web

#11611 Desktop: Fixes #11594: Fix syncLockGoneError on sync with certain share configs
  packages/lib/Synchronizer.ts
Labels: bug, sync

#11613 Desktop: Drawing: Fix "insert drawing" button is not disabled in read-only notes (Upgrade Freehand Drawing to v2.14.0)
  packages/default-plugins/pluginRepositories.json
Labels: bug, draw

#11614 Deskotp: Legacy Markdown Editor: Fix styles in seconary windows and remove red focus-visible border
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v5/CodeMirror.tsx
Labels: editor, v3.2

#11615 Chore: Retry flaky tests in Note.test.tsx
  packages/app-mobile/components/screens/Note/Note.test.tsx
Labels: ci

#11602 Desktop: Fixes #11600: OneNote imported notes have broken links when there are chineses characters on link
  packages/app-cli/tests/support/onenote/remove_hyperlink_on_title.zip
  packages/lib/services/interop/InteropService_Importer_OneNote.test.ts
  packages/lib/services/interop/__snapshots__/InteropService_Importer_OneNote.test.js.snap
  packages/onenote-converter/src/page/rich_text.rs
Labels: bug, import

#11618 Desktop: Fixes #11617: Links from imported notes from OneNote were being wrongly rendered
  packages/app-cli/tests/support/onenote/hyperlink_marker_as_first_character.zip
  packages/lib/services/interop/InteropService_Importer_OneNote.test.ts
  packages/lib/services/interop/__snapshots__/InteropService_Importer_OneNote.test.js.snap
  packages/onenote-converter/src/page/rich_text.rs
Labels: bug, import

#11612 Windows: Resolves #11508: Allow installer to skip uninstallation step after repeated failures
  .yarn/patches/app-builder-lib-npm-24.13.3-86a66c0bf3.patch
  yarn.lock
Labels: windows

#11656 All: Resolves #11647: Improve Welcome Notes with clearer instructions
  readme/_i18n/fr_FR/welcome/1_welcome_to_joplin.md
  readme/welcome/1_welcome_to_joplin.md
Labels: desktop, accessibility

#11674 Android: Fixes #11292: Fix unable to sync with multiple Nextcloud accounts in different profiles
  packages/lib/WebDavApi.js
Labels: android, sync

#11655 Desktop: Accessibility: Fix unlabelled toolbar button in the Rich Text Editor
  packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/utils/setupToolbarButtons.ts
Labels: desktop, accessibility

#11650 Desktop: Accessibility: Mark secondary screen navigation bars as navigation regions
  packages/app-desktop/gui/ConfigScreen/ButtonBar.tsx
Labels: desktop, accessibility

#11649 Desktop: Accessibility: Improve sync wizard accessibility
  packages/app-desktop/gui/Button/Button.tsx
  packages/app-desktop/gui/DialogTitle.tsx
  packages/app-desktop/gui/SyncWizard/Dialog.tsx
Labels: desktop, accessibility

#11645 Desktop: Resolves #: Add proper type to search input
  packages/app-desktop/gui/lib/SearchInput/SearchInput.tsx
Labels: desktop, accessibility

#11641 Desktop: Fixes #11640: Pressing Shift+Tab when focus is on notebook list would jump straight to editor
  packages/app-desktop/gui/Sidebar/hooks/useOnSidebarKeyDownHandler.ts
Labels: bug, accessibility

#11638 Desktop: Accessibility: Improve sidebar content contrast
  packages/app-desktop/gui/Sidebar/styles/index.ts
  packages/app-desktop/integration-tests/wcag.spec.ts
  packages/lib/theme.ts
  packages/lib/themes/light.ts
Labels: desktop, accessibility

#11636 Desktop: Accessibility: Make Markdown toolbar scrollable when low on space
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/Toolbar.tsx
  packages/app-desktop/gui/NoteToolbar/NoteToolbar.tsx
  packages/app-desktop/gui/ToolbarBase.tsx
  packages/app-desktop/gui/styles/editor-toolbar.scss
Labels: desktop, accessibility

#11635 Desktop,Mobile: Accessibility: Improve contrast of faded URLs in Markdown editor
  packages/editor/CodeMirror/theme.ts
Labels: desktop, accessibility

#11633 Mobile: Resolves #10824: Allow adjusting the default note viewer font size
  packages/app-mobile/components/NoteBodyViewer/NoteBodyViewer.test.tsx
  packages/app-mobile/components/NoteBodyViewer/NoteBodyViewer.tsx
  packages/app-mobile/components/NoteBodyViewer/hooks/useRerenderHandler.ts
  packages/app-mobile/components/global-style.ts
  packages/app-mobile/components/screens/Note/Note.tsx
  packages/lib/models/settings/builtInMetadata.ts
Labels: mobile, renderer

#11634 Desktop: Resolves #11621: Accessibility: Add status update after update
  packages/app-desktop/gui/NoteList/NoteList2.tsx
  packages/app-desktop/gui/SearchBar/SearchBar.tsx
  packages/app-desktop/gui/lib/SearchInput/SearchInput.tsx
Labels: desktop, accessibility

#11643 Desktop: Resolves #11642: Add alt text to welcome notes
  packages/lib/welcomeAssets.js
  readme/_i18n/fr_FR/welcome/1_welcome_to_joplin.md
  readme/welcome/1_welcome_to_joplin.md
Labels: accessibility

#11702 Desktop: Fix error when a note has no history
  packages/app-desktop/gui/NoteRevisionViewer.tsx
Labels: bug, desktop, v3.2

#11725 Desktop: Accessibility: Replacing library used for datetime with native input element
  packages/app-desktop/gui/NotePropertiesDialog.tsx
  packages/app-desktop/gui/PromptDialog.tsx
  packages/app-desktop/gui/WindowCommandsAndDialogs/commands/editAlarm.ts
  packages/app-desktop/package.json
  packages/app-desktop/style.scss
  packages/app-desktop/tools/copyApplicationAssets.js
  packages/utils/time.ts
  yarn.lock
Labels: desktop, accessibility

#11718 Desktop: Accessibility: Improve "change application layout" screen keyboard accessibility
  .eslintignore
  .gitignore
  packages/app-desktop/gui/Button/Button.tsx
  packages/app-desktop/gui/MainScreen.tsx
  packages/app-desktop/gui/ResizableLayout/LayoutItemContainer.tsx
  packages/app-desktop/gui/ResizableLayout/MoveButtons.tsx
  packages/app-desktop/gui/ResizableLayout/ResizableLayout.tsx
  packages/app-desktop/gui/ResizableLayout/utils/style.ts
  packages/app-desktop/gui/WindowCommandsAndDialogs/commands/resetLayout.ts
  packages/app-desktop/gui/styles/change-app-layout-dialog.scss
  packages/app-desktop/gui/styles/dialog-modal-layer.scss
  packages/app-desktop/gui/styles/index.scss
  packages/app-desktop/integration-tests/models/ChangeAppLayoutScreen.ts
  packages/app-desktop/integration-tests/models/MainScreen.ts
  packages/app-desktop/integration-tests/resizableLayout.spec.ts
  packages/app-desktop/integration-tests/wcag.spec.ts
  packages/lib/services/plugins/PluginService.ts
Labels: desktop, accessibility

#11708 Desktop: Accessibility: Improve scrollbar contrast
  packages/app-desktop/gui/ConfigScreen/Sidebar.tsx
  packages/app-desktop/gui/ConfigScreen/styles/index.scss
  packages/app-desktop/gui/Sidebar/Sidebar.tsx
  packages/app-desktop/main.scss
  packages/app-mobile/components/global-style.ts
  packages/lib/theme.ts
  packages/renderer/noteStyle.ts
Labels: desktop, accessibility

#11700 Desktop: Accessibility: Fix input fields not associated with labels
  packages/app-desktop/gui/NotePropertiesDialog.tsx
Labels: desktop, accessibility

#11717 Desktop: Accessibility: Allow toggling between tab navigation and indentation
  .eslintignore
  .gitignore
  packages/app-desktop/commands/index.ts
  packages/app-desktop/commands/toggleTabMovesFocus.ts
  packages/app-desktop/gui/MenuBar.tsx
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/CodeMirror.tsx
  packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/TinyMCE.tsx
  packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/utils/openEditDialog.ts
  packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/utils/useTabIndenter.ts
  packages/app-desktop/gui/NoteEditor/NoteEditor.tsx
  packages/app-desktop/gui/NoteEditor/StatusBar.tsx
  packages/app-desktop/gui/NoteEditor/style.scss
  packages/app-desktop/gui/NoteEditor/styles/editor-status-bar.scss
  packages/app-desktop/gui/NoteEditor/styles/editor-status-indicator.scss
  packages/app-desktop/gui/NoteEditor/styles/tag-bar.scss
  packages/app-desktop/gui/NoteEditor/utils/types.ts
  packages/app-desktop/gui/menuCommandNames.ts
  packages/app-desktop/integration-tests/models/EditorCodeDialog.ts
  packages/app-desktop/integration-tests/models/NoteEditorScreen.ts
  packages/app-desktop/integration-tests/richTextEditor.spec.ts
  packages/app-mobile/components/NoteEditor/NoteEditor.tsx
  packages/editor/CodeMirror/createEditor.ts
  packages/editor/CodeMirror/testUtil/createEditorSettings.ts
  packages/editor/types.ts
  packages/lib/models/settings/builtInMetadata.ts
  packages/lib/services/KeymapService.ts
  packages/tools/cspell/dictionary4.txt
Labels: desktop, editor, accessibility

#11740 Desktop: Fix secondary windows not removed from state if closed while focused
  packages/lib/reducer.test.ts
  packages/lib/reducer.ts
Labels: bug, desktop, multi-window

#11744 Desktop: Accessibility: Fix incorrect note viewer accessibility label
  packages/app-desktop/gui/NoteTextViewer.tsx
Labels: desktop, accessibility
