Repository laurent22/joplin, pull requests merged in 2025-02, with the labels that each got.

#11737 Desktop: Fix crash when closing a secondary window with the Rich Text Editor open
  packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/TinyMCE.tsx
Labels: bug, multi-window

#11763 Desktop: Improve font picker accessibility
  .eslintignore
  .gitignore
  packages/app-desktop/gui/ConfigScreen/controls/FontSearch.tsx
  packages/app-desktop/gui/InlineCombobox.tsx
  packages/app-desktop/gui/styles/combobox-suggestion-option.scss
  packages/app-desktop/gui/styles/combobox-wrapper.scss
  packages/app-desktop/gui/styles/index.scss
Labels: desktop, accessibility

#11770 Desktop,Mobile: Sync: Fix share not marked as readonly if the recipient has an outgoing share
  packages/lib/models/utils/readOnly.test.ts
  packages/lib/models/utils/readOnly.ts
  packages/lib/testing/test-utils.ts
Labels: sync

#11772 Mobile: Toolbar: Show only half of last button to indicate scroll
  .eslintignore
  .gitignore
  packages/app-mobile/components/EditorToolbar/EditorToolbar.tsx
  packages/app-mobile/components/EditorToolbar/ToolbarButton.tsx
  packages/app-mobile/components/EditorToolbar/utils/useButtonSize.ts
Labels: mobile, editor

#11775 Desktop: Accessibility: Add accessibility information to the warning banner
  packages/app-desktop/gui/MainScreen.tsx
Labels: desktop, accessibility

#11779 Mobile: Fix homescreen new-note shortcuts are re-applied after switching notes
  packages/app-mobile/components/screens/Note/Note.test.tsx
  packages/app-mobile/components/screens/Note/Note.tsx
  packages/app-mobile/root.tsx
  packages/app-mobile/utils/appDefaultState.ts
  packages/app-mobile/utils/types.ts
Labels: bug, mobile

#11785 Desktop: Fixes #11662: Prevent the default note title from being "&nbsp;"
  packages/lib/markdownUtils.ts
  packages/lib/markdownUtils2.test.ts
Labels: editor

#11787 Mobile: Plugins: Support the showToast API
  .eslintignore
  .gitignore
  packages/app-mobile/components/plugins/PluginNotification.tsx
  packages/app-mobile/root.tsx
  packages/lib/reducer.ts
Labels: mobile, plugins

#11788 Mobile: Update js-draw to version 1.27.2
  packages/app-mobile/package.json
  yarn.lock
Labels: mobile

#11794 Desktop,Mobile: Highlight `==marked==` text in the Markdown editor
  .eslintignore
  .gitignore
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/CodeMirror.tsx
  packages/app-mobile/components/NoteEditor/NoteEditor.tsx
  packages/editor/CodeMirror/configFromSettings.ts
  packages/editor/CodeMirror/markdown/MarkdownHighlightExtension.test.ts
  packages/editor/CodeMirror/markdown/MarkdownHighlightExtension.ts
  packages/editor/CodeMirror/markdown/MarkdownMathExtension.test.ts
  packages/editor/CodeMirror/markdown/MarkdownMathExtension.ts
  packages/editor/CodeMirror/markdown/decoratorExtension.ts
  packages/editor/CodeMirror/markdown/markdownCommands.test.ts
  packages/editor/CodeMirror/testUtil/createEditorSettings.ts
  packages/editor/CodeMirror/testUtil/createTestEditor.ts
  packages/editor/CodeMirror/testUtil/findNodesWithName.ts
  packages/editor/CodeMirror/theme.ts
  packages/editor/types.ts
  packages/lib/theme.ts
  packages/renderer/noteStyle.ts
Labels: editor

#11748 Desktop: Fix datetime values not appearing on note properties when the picker is open
  packages/app-desktop/gui/NotePropertiesDialog.tsx
Labels: bug, desktop

#11735 Desktop: Built-in plugins: Update Freehand Drawing to v2.15.0
  packages/default-plugins/pluginRepositories.json
Labels: enhancement, desktop

#11720 Desktop: Performance: Improve performance when changing window state
  packages/app-desktop/gui/Navigator.tsx
Labels: desktop, performance

#11715 Desktop: Resolves #11710: Plugins: Mark the LanguageTool Integration plugin as incompatible
  packages/app-desktop/gui/NoteEditor/WarningBanner/WarningBanner.tsx
Labels: desktop, plugins

#11714 Desktop,Mobile: Plugins: Legacy editor API: Fix delayed crash caused by out-of-bounds inputs
  packages/editor/CodeMirror/CodeMirror5Emulation/CodeMirror5Emulation.test.ts
  packages/editor/CodeMirror/CodeMirror5Emulation/CodeMirror5Emulation.ts
Labels: editor, plugins

#11754 All: Add specification document for new encryption methods
  packages/tools/cspell/dictionary4.txt
  readme/dev/spec/e2ee/native_encryption.md
Labels: spec

#11786 Desktop: Fixes #11783: Plugins: Fix toast notifications don't reappear unless parameters are changed
  packages/app-desktop/gui/PluginNotification/PluginNotification.tsx
  packages/app-desktop/integration-tests/pluginApi.spec.ts
  packages/app-desktop/integration-tests/resources/test-plugins/showToast.js
Labels: desktop, plugins

#11795 Desktop,Mobile: Resolves #11790: Render strikethrough text in the editor
  packages/editor/CodeMirror/markdown/decoratorExtension.ts
  packages/editor/CodeMirror/theme.ts
Labels: editor

#11797 Mobile: Accessibility: Make it possible to create and edit profiles with a screen reader
  packages/app-mobile/components/ProfileSwitcher/ProfileSwitcher.tsx
Labels: mobile, accessibility

#11749 Desktop: Accessibility: Add label to the delete buttons of the Note Attachments
  packages/app-desktop/gui/ResourceScreen.tsx
Labels: desktop, accessibility

#11750 Desktop, Mobile: Harden failsafe logic to check for the presence of info.json, rather than just the item count
  packages/lib/Synchronizer.ts
  packages/lib/services/synchronizer/syncInfoUtils.test.ts
  packages/lib/services/synchronizer/syncInfoUtils.ts
Labels: sync

#11802 Windows: Re-enable the beta "auto-update" feature flag
  packages/app-desktop/app.ts
  packages/app-desktop/services/autoUpdater/AutoUpdaterService.ts
  packages/lib/models/settings/builtInMetadata.ts
Labels: windows

#11769 Desktop: Accessibility: Fixes focus going to start of document when Note History is open
  packages/app-desktop/gui/NoteRevisionViewer.tsx
Labels: desktop, accessibility

#11764 Desktop: Accessibility: Add a new shortcut to set focus to editor toolbar
  .eslintignore
  .gitignore
  packages/app-desktop/commands/focusElement.ts
  packages/app-desktop/gui/MenuBar.tsx
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/Toolbar.tsx
  packages/app-desktop/gui/NoteEditor/commands/focusElementToolbar.ts
  packages/app-desktop/gui/NoteEditor/commands/index.ts
  packages/app-desktop/gui/NoteEditor/utils/types.ts
  packages/app-desktop/gui/NoteEditor/utils/useWindowCommandHandler.ts
  packages/app-desktop/gui/ToolbarBase.tsx
  packages/app-desktop/gui/menuCommandNames.ts
  packages/lib/services/KeymapService.ts
Labels: desktop, accessibility

#11819 Web: Fixes #11800: Fix "Only one client can be open at a time" shown in dev mode
  .eslintignore
  .gitignore
  packages/app-mobile/package.json
  packages/app-mobile/web/serviceWorker.ts
  packages/app-mobile/web/webpack.config.ts
Labels: web

#11841 Desktop,Mobile: Plugins: Simplify getting the ID of the note open in an editor
  .eslintignore
  .gitignore
  packages/app-desktop/gui/NoteEditor/NoteBody/CodeMirror/v6/CodeMirror.tsx
  packages/app-mobile/components/NoteEditor/CodeMirror/CodeMirror.ts
  packages/app-mobile/components/NoteEditor/NoteEditor.test.tsx
  packages/app-mobile/components/NoteEditor/NoteEditor.tsx
  packages/app-mobile/components/screens/Note/Note.tsx
  packages/editor/CodeMirror/CodeMirrorControl.test.ts
  packages/editor/CodeMirror/CodeMirrorControl.ts
  packages/editor/CodeMirror/createEditor.test.ts
  packages/editor/CodeMirror/createEditor.ts
  packages/editor/CodeMirror/testUtil/createEditorControl.ts
  packages/editor/CodeMirror/utils/selectedNoteIdExtension.ts
  packages/editor/types.ts
  packages/generator-joplin/generators/app/templates/api/types.ts
  packages/lib/services/plugins/api/types.ts
Labels: plugins

#11831 Mobile: Add support for plugin editor views
  .eslintignore
  .gitignore
  packages/app-desktop/gui/NoteEditor/NoteEditor.tsx
  packages/app-desktop/gui/NoteEditor/utils/usePluginEditorView.ts
  packages/app-desktop/gui/WindowCommandsAndDialogs/commands/index.ts
  packages/app-desktop/testPluginDemo.sh
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/plugins/dialogs/PluginDialogManager.tsx
  packages/app-mobile/components/screens/Note/Note.tsx
  packages/app-mobile/components/screens/Notes.tsx
  packages/lib/commands/index.ts
  packages/lib/commands/showEditorPlugin.ts
  packages/lib/commands/toggleEditorPlugin.ts
  packages/lib/components/shared/note-screen-shared.ts
  packages/lib/reducer.ts
  packages/lib/services/plugins/EditorPluginHandler.ts
  packages/lib/services/plugins/WebviewController.ts
  packages/lib/services/plugins/api/JoplinViewsEditor.ts
  packages/lib/services/plugins/utils/getShownPluginEditorView.ts
  readme/api/references/plugin_theming.md
Labels: mobile, plugins

#11829 Chore: Docs: Document creating new editor commands
  packages/editor/types.ts
  readme/dev/BUILD.md
  readme/dev/spec/editor_commands.md
Labels: documentation

#11852 Desktop: Fixes #11759: Preserve attachment file extensions regardless of the mime type
  packages/lib/shim-init-node.test.ts
  packages/lib/shim-init-node.ts
Labels: bug

#11765 Desktop: Accessibility: Make click outside of dialog content be cancellable
  packages/app-desktop/gui/Dialog.tsx
Labels: desktop, accessibility

#11859 Desktop: Fixes #11844: Fix OneNote importer not being able to handle corrupted attachments
  packages/app-cli/tests/support/onenote/corrupted_attachment.zip
  packages/lib/services/interop/InteropService_Importer_OneNote.test.ts
  packages/lib/services/interop/__snapshots__/InteropService_Importer_OneNote.test.js.snap
  packages/onenote-converter/src/page/embedded_file.rs
  packages/onenote-converter/src/parser/one/property_set/embedded_file_node.rs
  packages/onenote-converter/src/parser/onenote/embedded_file.rs
Labels: bug, import

#11784 Desktop: Accessibility: Add error indication on Note properties
  packages/app-desktop/gui/NotePropertiesDialog.tsx
Labels: desktop, accessibility

#11874 Mobile: Resolves #11846: Improve encryption config screen accessibility
  .eslintignore
  .gitignore
  packages/app-mobile/components/screens/encryption-config.test.tsx
  packages/app-mobile/components/screens/encryption-config.tsx
Labels: mobile, accessibility

#11861 Mobile: Fix #11858: Fix disabled encryption keys list showing enabled keys
  packages/app-mobile/components/screens/encryption-config.tsx
Labels: bug, mobile

#11892 Desktop: Accessibility: Add more standard keyboard shortcuts for the notebook sidebar
  packages/app-desktop/gui/Sidebar/hooks/useOnRenderItem.tsx
  packages/app-desktop/gui/Sidebar/hooks/useOnSidebarKeyDownHandler.ts
  packages/app-desktop/gui/Sidebar/hooks/useSidebarListData.ts
  packages/app-desktop/gui/Sidebar/listItemComponents/AllNotesItem.tsx
  packages/app-desktop/gui/Sidebar/listItemComponents/HeaderItem.tsx
  packages/app-desktop/gui/Sidebar/listItemComponents/ListItemWrapper.tsx
  packages/app-desktop/gui/Sidebar/styles/list-item-wrapper.scss
  packages/app-desktop/gui/Sidebar/types.ts
  packages/app-desktop/integration-tests/sidebar.spec.ts
Labels: desktop, accessibility

#11899 Mobile: Accessibility: Fix "new note" and "new to-do" buttons are focusable even while invisible
  .yarn/patches/react-native-paper-npm-5.13.1-f153e542e2.patch
  package.json
  packages/app-mobile/package.json
  yarn.lock
Labels: iOS, android, accessibility
