Repository laurent22/joplin, pull requests merged in 2025-07, with the labels that each got.

#12637 Cli: Support managing shared notebooks
  .eslintignore
  .gitignore
  packages/app-cli/app/app.ts
  packages/app-cli/app/command-done.test.ts
  packages/app-cli/app/command-rmbook.ts
  packages/app-cli/app/command-share.test.ts
  packages/app-cli/app/command-share.ts
  packages/app-cli/app/main.js
  packages/app-cli/app/utils/initializeCommandService.ts
  packages/app-cli/app/utils/shimInitCli.ts
  packages/app-cli/app/utils/testUtils.ts
  packages/app-cli/package.json
  packages/app-desktop/gui/WindowCommandsAndDialogs/commands/index.ts
  packages/lib/commands/index.ts
  packages/lib/commands/leaveSharedFolder.ts
  packages/lib/shim-init-node.ts
  packages/lib/testing/share/mockShareService.ts
  yarn.lock
Labels: cli, sync

#12651 Server: Ensure shares are writable
  packages/server/src/routes/api/share_users.ts
Labels: server

#12650 Desktop,Cli: Fix data API failure when including both conflicts and deleted notes in results
  packages/lib/models/utils/paginatedFeed.ts
  packages/lib/services/rest/Api.test.ts
Labels: api

#12592 Chore: Resolves #12283: Server: Add fuzzer for detecting sync bugs
  .eslintignore
  .eslintrc.js
  .gitignore
  package.json
  packages/app-cli/app/app.ts
  packages/app-cli/app/command-e2ee.ts
  packages/default-plugins/buildDefaultPlugins.ts
  packages/default-plugins/commands/editPatch.ts
  packages/lib/ClipperServer.ts
  packages/server/src/models/ItemModel.ts
  packages/tools/.gitignore
  packages/tools/cspell/dictionary4.txt
  packages/tools/fuzzer/ActionTracker.ts
  packages/tools/fuzzer/Client.ts
  packages/tools/fuzzer/ClientPool.ts
  packages/tools/fuzzer/Server.ts
  packages/tools/fuzzer/constants.ts
  packages/tools/fuzzer/sync-fuzzer.ts
  packages/tools/fuzzer/types.ts
  packages/tools/fuzzer/utils/SeededRandom.ts
  packages/tools/fuzzer/utils/getNumberProperty.ts
  packages/tools/fuzzer/utils/getProperty.ts
  packages/tools/fuzzer/utils/getStringProperty.ts
  packages/tools/fuzzer/utils/retryWithCount.ts
  packages/utils/cli.ts
  packages/utils/package.json
Labels: server

#12704 All: Translation: Update pl_PL.po
  packages/tools/locales/pl_PL.po
Labels: translation

#12551 Mobile: Implement tag screen redesign
  .eslintignore
  .gitignore
  packages/app-mobile/components/ComboBox.test.tsx
  packages/app-mobile/components/ComboBox.tsx
  packages/app-mobile/components/Icon.tsx
  packages/app-mobile/components/IconButton.tsx
  packages/app-mobile/components/ModalDialog.tsx
  packages/app-mobile/components/NestableFlatList.tsx
  packages/app-mobile/components/SearchInput.tsx
  packages/app-mobile/components/TagEditor.test.tsx
  packages/app-mobile/components/TagEditor.tsx
  packages/app-mobile/components/TextInput.tsx
  packages/app-mobile/components/screens/NoteTagsDialog.tsx
Labels: mobile

#12635 Mobile: Add support for scanning multi-page documents
  .eslintignore
  .gitignore
  packages/app-mobile/components/CameraView/Camera/index.jest.tsx
  packages/app-mobile/components/CameraView/CameraView.tsx
  packages/app-mobile/components/CameraView/CameraView.web.tsx
  packages/app-mobile/components/CameraView/CameraViewMultiPage.test.tsx
  packages/app-mobile/components/CameraView/CameraViewMultiPage.tsx
  packages/app-mobile/components/CameraView/PhotoPreview.tsx
  packages/app-mobile/components/CameraView/types.ts
  packages/app-mobile/components/ComboBox.tsx
  packages/app-mobile/components/DialogManager/PromptDialog.tsx
  packages/app-mobile/components/DialogManager/TextInputDialog.tsx
  packages/app-mobile/components/DialogManager/hooks/useDialogControl.ts
  packages/app-mobile/components/DialogManager/index.tsx
  packages/app-mobile/components/DialogManager/types.ts
  packages/app-mobile/components/FolderPicker.tsx
  packages/app-mobile/components/ScreenHeader/WebBetaButton.tsx
  packages/app-mobile/components/ScreenHeader/index.tsx
  packages/app-mobile/components/TagEditor.tsx
  packages/app-mobile/components/buttons/LabelledIconButton.tsx
  packages/app-mobile/components/screens/DocumentScanner/DocumentScanner.tsx
  packages/app-mobile/components/screens/DocumentScanner/NotePreview.tsx
  packages/app-mobile/components/screens/Notes/NewNoteButton.tsx
  packages/app-mobile/root.tsx
  packages/app-mobile/utils/hooks/useBackHandler.ts
  packages/app-mobile/utils/makeShowMessageBox.test.ts
  packages/lib/models/settings/builtInMetadata.ts
Labels: mobile

#12735 All: Translation: Update sk_SK.po
  packages/tools/locales/sk_SK.po
Labels: translation

#12746 Desktop: Fixes #12341: Markdown editor: Prevent selection from extending far outside the editor boundaries
  packages/editor/CodeMirror/theme.ts
Labels: desktop, markdown-editor

#12745 Desktop,Mobile: Fixes #12744: Fix adding lists to blank lines using toolbar buttons
  packages/editor/CodeMirror/markdown/markdownCommands.toggleList.test.ts
  packages/editor/CodeMirror/markdown/markdownCommands.ts
Labels: mobile, desktop, markdown-editor

#12743 Chore: Editor: Refactor editor package
  .eslintignore
  .gitignore
  packages/app-mobile/components/NoteEditor/hooks/useEditorCommandHandler.test.ts
  packages/editor/CodeMirror/CodeMirrorControl.test.ts
  packages/editor/CodeMirror/CodeMirrorControl.ts
  packages/editor/CodeMirror/configFromSettings.ts
  packages/editor/CodeMirror/createEditor.test.ts
  packages/editor/CodeMirror/createEditor.ts
  packages/editor/CodeMirror/editorCommands/editorCommands.ts
  packages/editor/CodeMirror/editorCommands/insertLineAfter.test.ts
  packages/editor/CodeMirror/editorCommands/insertLineAfter.ts
  packages/editor/CodeMirror/editorCommands/insertNewlineContinueMarkup.test.ts
  packages/editor/CodeMirror/editorCommands/insertNewlineContinueMarkup.ts
  packages/editor/CodeMirror/editorCommands/jumpToHash.test.ts
  packages/editor/CodeMirror/editorCommands/markdownCommands.bulletedVsChecklist.test.ts
  packages/editor/CodeMirror/editorCommands/markdownCommands.test.ts
  packages/editor/CodeMirror/editorCommands/markdownCommands.toggleList.test.ts
  packages/editor/CodeMirror/editorCommands/markdownCommands.ts
  packages/editor/CodeMirror/extensions/biDirectionalTextExtension.ts
  packages/editor/CodeMirror/extensions/keyUpHandlerExtension.ts
  packages/editor/CodeMirror/extensions/markdownDecorationExtension.test.ts
  packages/editor/CodeMirror/extensions/markdownDecorationExtension.ts
  packages/editor/CodeMirror/extensions/markdownHighlightExtension.test.ts
  packages/editor/CodeMirror/extensions/markdownHighlightExtension.ts
  packages/editor/CodeMirror/extensions/markdownMathExtension.test.ts
  packages/editor/CodeMirror/extensions/markdownMathExtension.ts
  packages/editor/CodeMirror/extensions/overwriteModeExtension.test.ts
  packages/editor/CodeMirror/extensions/overwriteModeExtension.ts
  packages/editor/CodeMirror/extensions/searchExtension.ts
  packages/editor/CodeMirror/extensions/selectedNoteIdExtension.ts
  packages/editor/CodeMirror/pluginApi/customEditorCompletion.test.ts
  packages/editor/CodeMirror/testing/createEditorControl.ts
  packages/editor/CodeMirror/testing/createEditorSettings.ts
  packages/editor/CodeMirror/testing/createTestEditor.ts
  packages/editor/CodeMirror/testing/findNodesWithName.ts
  packages/editor/CodeMirror/testing/forceFullParse.ts
  packages/editor/CodeMirror/testing/loadLanguages.ts
  packages/editor/CodeMirror/testing/pressReleaseKey.ts
  packages/editor/CodeMirror/testing/typeText.ts
  packages/editor/CodeMirror/theme.ts
  packages/editor/CodeMirror/utils/formatting/computeSelectionFormatting.test.ts
  packages/editor/CodeMirror/utils/formatting/computeSelectionFormatting.ts
  packages/editor/CodeMirror/utils/markdown/codeBlockLanguages/allLanguages.ts
  packages/editor/CodeMirror/utils/markdown/codeBlockLanguages/defaultLanguage.ts
  packages/editor/CodeMirror/utils/markdown/codeBlockLanguages/lookUpLanguage.ts
  packages/editor/CodeMirror/utils/markdown/renumberSelectedLists.test.ts
  packages/editor/CodeMirror/utils/markdown/renumberSelectedLists.ts
  packages/editor/CodeMirror/utils/markdown/stripBlockquote.ts
Labels: markdown-editor

#12786 Chore: Mobile: Fix warning
  packages/app-mobile/components/DialogManager/index.tsx
Labels: mobile

#12785 Android: Fix title bar is partially hidden by the screen header
  .eslintignore
  .gitignore
  packages/app-mobile/components/SafeAreaView.js
  packages/app-mobile/components/SafeAreaView.tsx
  packages/app-mobile/root.tsx
Labels: android

#12797 All: Translation: Update sv.po
  packages/tools/locales/sv.po
Labels: translation

#12760 All: Translation: Update es_ES.po and ca.po
  packages/tools/locales/ca.po
  packages/tools/locales/es_ES.po
Labels: translation

#12795 Transcribe: Fixes #12765: Removes file from temporary folder after storing it
  packages/transcribe/src/api/handler/createJob.test.ts
  packages/transcribe/src/services/FileStorage.test.ts
  packages/transcribe/src/services/FileStorage.ts
Labels: bug, transcribe

#12815 All: Translation: Update id_ID.po
  packages/tools/locales/id_ID.po
Labels: translation
